[submodule ".config/zsh/shell-plugins/zsh-vi-mode"]
	path = .config/zsh/shell-plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule ".config/zsh/shell-plugins/zsh-autosuggestions"]
	path = .config/zsh/shell-plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/shell-plugins/zsh-syntax-highlighting"]
	path = .config/zsh/shell-plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
